<h1>Hello, Cook Book!</h1>
<p>Cook Book Contains Tons of recipes including main dishes, appetizers, drinks, side dishes, desserts, ethnic recipes, soups, stews and diet recipes.
Find recipes for cooking what you have in the fridge by typing the singular ingredient.
People always want to get access to large recipe collection like chicken recipe , bread recipe , chilli , pasta recipe etc . Pizza recipes is also of great demand in Mexican , Spanish region. </p>
